

<div class="container " style="margin-top :50px">
    <h1>Projekti</h1>
    <hr>
    <p>
        <a class="btn btn-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Softversko inzenjerstvo i nove tehnologije u racunarstvu (SINTRA)
        </a>
    </p>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th colspan="2">Softversko inzenjerstvo i nove tehnologije u racunarstvu (SINTRA)</th>
                </tr>
                <tr>
                    <td><b>Tip projekta:</b></td>
                    <td>Projekti-Razvoj visokog obrazovanja</td>
                </tr>
                <tr>
                    <td><b>Rukovodilac</b></td>
                    <td>doc dr Drazen Draskovic</td>
                </tr>
                <tr>
                    <td><b>Finansijer:</b></td>
                    <td>MINISTARSTVO PROSVETE, NAUKE I TEHNOLOSKOG RAZVOJA</td>
                </tr>
                <tr>
                    <td><b>POCETAK REALIZACIJE:</b></td>
                    <td>14.10.2019</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <p>
        <a class="btn btn-link" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
            ADVANCING NOVEL TEXTUAL SIMILARITY -BASED SOLUTIONS IN SOFTWARE DEVELOPMENT (AVANTES)
        </a>
    </p>

    <div class="collapse" id="collapseExample2">
        <div class="card card-body">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th colspan="2">ADVANCING NOVEL TEXTUAL SIMILARITY -BASED SOLUTIONS IN SOFTWARE DEVELOPMENT (AVANTES)</th>
                </tr>
                <tr>
                    <td><b>Fond za nauku - AI</b></td>
                    <td>FOND ZA NAUKU REPUBLIKE SRBIJE</td>
                </tr>
                <tr>
                    <td><b>Rukovodilac</b></td>
                    <td>prof dr Bosko Nikolic</td>
                </tr>
                <tr>
                    <td><b>Finansijer:</b></td>
                    <td>FOND ZA NAUKU REPUBLIKE SRBIJE</td>
                </tr>
                <tr>
                    <td><b>POCETAK REALIZACIJE:</b></td>
                    <td>02.09.2020.</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>