

<div class="container">
    <h1 style="margin-top: 50px;">Predmeti na katedri : {{id}}</h1>
    <hr>

    <div *ngFor='let p of predmeti'>
        <table *ngIf='p.semestar==7' class="table table-bordered">
            <tr>
                <td>
                    Sifra predmeta
                </td>
                <td>
                    Naziv predmeta
                </td>
                <td>
                    Nastavnici:
                </td>
            </tr>
            <tr>
                <td>
                    {{p.akronim}}
                </td>
                <td>
                    <a class="nav-link" [routerLink]="['/prikaz-predmeta' ,p.akronim]">{{p.naziv}}</a> 
                </td>
                <td>
                    <span *ngFor = 'let nastavnik of p.nastavnik'> {{nastavnik.predavac}} <br/></span> 
                </td>
            </tr>
        </table>
    </div>

                   
             
</div>