<div class="container">
    
    <table>
        <div class="row">
         <table class="table table-responsive-xl">
         <thead>
             <tr>
             <th scope="col" colspan="3" style="font-size: 25px;">Information about  {{zaposleni.name}}</th>
             </tr>
         </thead>
         <tbody>
     
             <tr>
                 <td rowspan="10" width="200">
                     <img src="assets\images\avatar.png" alt="sadd" width="200"/>
                 </td>
             </tr>
     
             <tr>
             <td>Username</td>
             <td>{{zaposleni.username}}</td>
             </tr>
     
             <tr>
             <td>First Name</td>
             <td>{{zaposleni.name}}</td>
             </tr>
     
             <tr>
             <td>Last Name</td>
             <td>{{zaposleni.lastname}}</td>
             </tr>
     
             <tr>
             <td>About</td>
             <td>{{zaposleni.about}}</td>
             </tr>
             
             <tr>
             <td>Address</td>
             <td>{{zaposleni.address}}</td>
             </tr>
             
             <tr>
             <td>Degree</td>
             <td>{{zaposleni.degree}}</td>
             </tr>
             <tr>
             <td>Room</td>
             <td>{{zaposleni.room}}</td>
             </tr>
            
             
         </tbody>
         </table>
     </div>
     </table>


</div>