

<div class="container " style="margin-top :50px">
    <h1>Moguci projekti za izradu diplomskih radova</h1>
    <hr>
 
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th colspan="2"> Primena mašinskog prevođenja u analizi sentimenta tekstova na srpskom</th>
                </tr>
                <tr>
                    <td><b>Tema:</b></td>
                    <td> Primena mašinskog prevođenja u analizi sentimenta tekstova na srpskom</td>
                </tr>
                <tr>
                    <td><b>Oblast</b></td>
                    <td>Procesiranje prirodnih jezika (NLP – Natural Language Processing)</td>
                </tr>
                <tr>
                    <td><b>Kontakt:</b></td>
                    <td>Dr Boško Nikolić, r.prof.</td>
                </tr>
                <tr>
                    <td><b>Opis</b></td>
                    <td>Jedan od većih problema u analizi sentimenta tekstova na srpskom predstavlja nedostatak tekstualnih resursa potrebnih za izgradnju modela. Cilj ovog projekta je procena mogućnosti mašinskog prevođenja obimnih postojećih resursa na engleskom jeziku i njihovog korišćenja u analizi sentimenta tekstova na srpskom.</td>
                </tr>
            </tbody>
            </table>
            <hr>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th colspan="2"> Мобилна апликација за праћење информација о поридичном стаблу</th>
                </tr>
                <tr>
                    <td><b>Tema:</b></td>
                    <td> Мобилна апликација за праћење информација о поридичном стаблу</td>
                </tr>
                <tr>
                    <td><b>Oblast</b></td>
                    <td>Програмирање мобилних уређаја</td>
                </tr>
                <tr>
                    <td><b>Kontakt:</b></td>
                    <td> др Захарије Радивојевић, ванредни професор</td>
                </tr>
                <tr>
                    <td><b>Opis</b></td>
                    <td>Потребно је реализовати мобилну апликацију која корисницима омогућава унос подата о породичном стаблу. Особа преко мобилног уређаја уноси податке којие се односе на особе. Ти подаци садрже тестуалне таписе, слике видео записе. Апликација треба да омогући повезивање особа, група особа, догађаја и места. Записи се могу пратити у виду временске осе или у виду стабла. Апликација податке може чувати локално и на интернету. Могуће је спајати записе које су уносили различите особе. Могуће је претраживати садржај по различитим критеријумима.</td>
                </tr>
            </tbody>
            </table>
            <hr>
         
    </div>