<div class="container">
  <h1>RTI Katedra</h1>
  <hr />

  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
    style="margin-bottom: 40px"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="d-block w-100"
          src="/assets/images/about.jpg"
          alt="First slide"
          width="600px"
        />
      </div>

      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="assets\images\Screenshot_1.png"
          alt="Third slide"
          width="600px"
        />
      </div>
    </div>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="shadow p-3 mb-5 bg-white rounded">
    <p id="test" style="font-size: 16px">
      Katedra za računarsku tehniku i informatiku danas predstavlja najbrojniju
      i najmlađu katedru na Elektrotehničkom fakultetu u Beogradu. Katedra je
      matična za dva odseka na osnovnim akademskim studijama, a to su Odsek za
      računarsku tehniku i informatiku (na studijskom programu Elektrotehnika i
      računarstvo) i Odsek za softversko inženjerstvo (na istoimenom studijskom
      programu), na kojima nastavnici i saradnici izvode veći deo nastave. Na ta
      dva odseka angažovan je i veći broj nastavnika sa drugih katedri, koji
      drže predmete iz oblasti matematike, fizike, elektronike,
      telekomunikacija, automatike, opšte elektrotehnike, a angažovani su i
      nastavnici stranih jezika i opšte obrazovanih predmeta. Takođe, naši
      nastavnici i saradnici izvode nastavu i na stručnim predmetima iz oblasti
      računarske tehnike i informatike i softverskog inženjerstva i na drugim
      odsecima studijskog programa Elektrotehnika i računarstvo. Na master
      akademskim studijama katedra rukovodi Modulom za računarsku tehniku i
      informatiku i Modulom za softversko inženjerstvo. Na doktorskim akademskim
      studijama katedra ima dva modula - Računarska tehnika i informatika i
      Softversko inženjerstvo. Svi programi studija redovno se pred svaki ciklus
      akreditacije studijskih programa usklađuju sa preporukama strukovnih
      organizacija IEEE i ACM, kao i potrebama ICT kompanija koje uspešno
      posluju u zemlji i inostranstvu, a pre svega potrebama domaće privrede,
      softverske i hardverske industrije.
    </p>
  </div>
</div>
